@import '_Mixins.scss';
@import '_Header.scss';
@import '_Footer.scss';
@import '_Home.scss';
@import '_PageError.scss';
@import '_Apropos.scss';
@import 'FicheLogement.scss';

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  @include flexCenter();
  flex-direction: column;
  margin: auto;
  padding: 45px 0px 0px 0px;
  gap: 50px;
  font-family: 'Montserrat', sans-serif;
  // media queries pour le body
  @media (max-width: 830px) {
    padding-top: 20px;
    gap: 27px;
  }
}