.fiche-logement {
    @include flexDimensions(100%, auto, white);
    padding: 0px 100px;
    position: relative;
    .caroussel-pitures {
      @include flexDimensions(100%, 415px, white);
      border-radius: 25px;
      margin-bottom: 15px;
      overflow: hidden;
      position: relative;
      .carroussel-container {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        display: flex;
        transition: transform 1s ease-in-out;
        .pictures {
          width: 100%;
          height: 100%;
          object-fit: cover;
          flex-shrink: 0;
        }
      }
      .fleche-precedent {
        width: 46.68px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        cursor: pointer;
        @media (max-width: 660px) {
          width: 25px;
          height: 25px;
        }
        i {
          font-weight: 46.68px;
          font-size: 79.2px;
          color: white;
          @media (max-width: 660px) {
            font-size: 24px;
            font-weight: 24px;
          }
        }
      }
      .fleche-suivant {
        @extend .fleche-precedent;
        right: 30px;
        left: auto;
        @media (max-width: 660px) {
          right: 15px;
        }
      }
      .pagination {
        @include write(500,18px,25.67px,white);
        height: 18px;
        position: absolute;
        top: auto;
        bottom: 35px;
      }

      @media (max-width: 660px) {
        height: 255px;
        margin-bottom: 8px;
      }
    }
  
    .titre-localisation-proprietaire{
      @include flexDimensions(100%, auto, white, row);
      margin-bottom: 15px;
      position: relative;
      .titre-et-localisation {
        width: 100%;
        height: auto;
        .titre {
          @include write(500,36px,51.34px,#FF6060);
          text-align: left;
        }
        .localisation {
          @include write(500,18px,25.67px,black);
          text-align: left;
        }
      }
  
      .proprietaire {
        display: flex;
        width: 167px;
        height: 64px;
        position: relative;
        top: -10px;
        .photo img {
          width: 64px;
          height: 64px;
          border-radius: 99px;
          background: #C4C4C4;
          margin-left: 15px;
        }
        p {
          @include write(500,18px,25.67px,#FF6060);
          text-align: right;
          width: 93px;
          height: 52px;
          word-wrap: break-word;
          margin: auto 0px;
        }
      }

      @media (max-width: 940px) {
        .titre-et-localisation {
          .titre {
            font-size: 18px;
            line-height: 25.67px;
          }
          .localisation {
            font-size: 14px;
            line-height: 19.96px;
          }
        }
        .proprietaire {
          width: 135.5px;
          height: 33px;
          .photo img {
            width: 32px;
            height: 32px;
          }
          p {
            font-size: 12px;
            line-height: 17.11px;
          }
        }
      }

      @media (max-width: 660px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .titre-et-localisation {
          margin-bottom: 30px;
        }
        .proprietaire {
          position: absolute;
          left: 100%;
          top: 85%;
          transform: translate(-100%, 100%);
          z-index: 20;
        }
      }
    }

    .tag-rating {
      @include flexDimensions(100%, auto, white, row);
      margin-bottom: 25px;
      gap: 0px 20px;
      position: relative;
      .bloc-tags {
        @include flexDimensions(auto, 36px, white, row);
        gap: 10px 15px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: auto;
        .tags {
          height: 25px;
          border-radius: 10px;
          background-color: #FF6060;
          @include flexCenter();
          width: auto;
          min-width: 115px;
          margin: auto 0px;
          white-space: nowrap;
          p {
            @include write(700,14px,19.96px,white);
            margin: 3px 15px 0px 15px;
          }
        }
      }

      .rating {
        @include flexDimensions(196px, 36px, white, row);
        .etoile {
          font-size: 24px;
          color: #E3E3E3;
        }
        @for $i from 1 through 5 {
          .etoile.note#{$i} {
            color: #FF6060;
          }
        }
      }

      @media (max-width:940px) {
        align-items: flex-start;
        margin-bottom: 15px;
        .bloc-tags {
          width: 100%;
          height: 100%;
          align-items: center;
          .tags {
            height: 100%;
            width: 84px;
            p {
              font-size: 10px;
              line-height: 14.26px;
              white-space: nowrap;
              margin-top: 0px;
            }
          }
        }
        
        .rating {
          height: 18px;
          justify-content: flex-end;
          gap: 0px 10px;
          .etoile {
            font-size: 13px;
          }
        }
      }

      @media (max-width: 660px) {
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        top: -33px;
        gap: 16px 0px;
        margin-bottom: 0px;
        .bloc-tags {
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 10px 15px;
          margin-bottom: 10px;
          margin-right: auto;
          .tags {
            min-width: 90px;
            width: auto;
          }
        }
        .rating {
          justify-content: flex-start;
          margin: 8px 15px 0px 15px;
        }

      }
    }

    .description-equipement {
      @include flexDimensions(100%, auto, white, row);
      align-items: flex-start;
      gap: 0px 100px;
      .les-apropos {
        width: 100%;
        height: auto;
        margin-top: 0px;
        .titre {
            @include flexDimensions(100%, 54px, #FF6060, row);
            position: relative;
            padding: 10px 20px 10px 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            z-index: 1;
            p {
                @include write(700, 24px, 34.22px, #fff);
            }
            i {
                font-size: 24px;
                color: white;
                transform: rotate(180deg);
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
            }

            i.rotate {
                transform: rotate(0deg);
            }
        }
        .paragraphe {
            height: auto;
            width: 100%;
            @include write(450, 19px, 30px, black);
            text-align: left;
            flex-wrap: wrap;
            padding: 10px 20px 10px 15px;
            transition: transform 0.15s linear, opacity 0.15s ease-in-out;
            span {
              display: inline-block;
              width: 100%;
            }
        }
        .paragraphe.anim {
            transform: translateY(-42%);
            opacity: 0;
        }
      }
    
      @media (max-width: 940px) {
        flex-direction: column;
        .les-apropos {
          .titre {
            height: 30px;
            p {
              font-size: 13px;
              line-height: 18.54px;
            }
            i {
              font-size: 9.14px;
            }
          }

          .paragraphe {
            font-size: 11px;
            line-height: 14.32px;
            padding: 5px 10px 5px 15px;
            margin-bottom: 5px;
          }
        }        
      }
    
    }

    @media (max-width: 830px) {
      padding: 0px 20px;
      footer {
        margin-top: 20px;
      }
      
    }
    
  }  